extends layout

block content
	h1= title
	p Welcome to our test

	#wrapper

		#test
			h2 Test
			h3 Status: Not Running
			fieldset
				input(type="text", name="instances", value="10")
				button#btnStartTest Start Test
				button#btnStopTest Stop Test

		#appList
			h2 App Stats
			table
				thead
					th Name
					th Requested
					th Running
					th Healthy
					th Elapsed
				tbody
