extends layout

block content
	#header

		#title
			h1= title

		#controls
			h3 Status: Not Running
			fieldset
				input(type="text", name="instances", value="10")
				button#btnStartTest Start Test
				button#btnStopTest Stop Test

		.clear

	#left
		canvas(id="chart-prime", width="600", height="200")
		#chartPrimeLegend(class="legend")
		table(id="spreadsheet")
			thead
				th Name
				th Requested
				th Running
				th Ready
				th Elapsed
			tbody

	#right
		canvas(id="chart", width="600", height="400")
		#chartLegend(class="legend")
