body {
	padding: 30px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
	margin:0 0 .5em 0;
}

a {
	color: #00B7FF;
}

#header {
	position:relative;
}

#title {
	float: left;
}

#controls {
	float: right;
}
	#controls p {
		padding:15px;
		border:1px solid #CCC;
		background:rgba(80,120,255,0.05);
	}

.clear {
	clear: both;
}

.legend {
	position: absolute;
	top: 5px;
	left: 5px;
}

#left {
	float: left;
	position: relative;
	margin-top: 30px;
}
	#left canvas {
		display: block;
	}

#right {
	float: left;
	position: relative;
	margin-left: 30px;
	margin-top: 30px;
}
	#right canvas {
		display: block;
	}

#spreadsheet {
	margin: 10px auto 0 auto;
	border-collapse:separate;
	border-spacing:1px;
	background:#CCC;
}
	#spreadsheet th {
		background:#EEE;
		font-weight:600;
		padding:10px 20px;
		text-align:center;
	}
	#spreadsheet tbody {
		padding:0; margin:0;
		border-collapse:collapse;
		border-spacing:0px;
	}
		#spreadsheet td {
			background:#FFF;
			padding:5px 10px;
			text-align:center;
		}

fieldset {
	border:0;
	padding:0; margin:0;
}
